<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sesoc.global.escape.dao.RoomDAO">
	<insert id="insertRoom" parameterType="Room">
	insert into room 
	values(room_seq.nextval, #{map_no}, #{master_id}, #{title}, #{room_pw})
	</insert>
	
	<delete id="deleteRoom" parameterType="Room">
	delete from room
	where no = #{no}
	</delete>
	
	<insert id="insertWatingUser" parameterType="Room">
	insert into wating_users
	values(wating_users_seq.nextval, #{map_no}, #{user_id})
	</insert>
	
	<delete id="deleteWaitingUser" parameterType="Room">
	delete from wating_users
	where no = #{no}
	</delete>
</mapper>
