<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sesoc.global.escape.dao.RoomDAO">	
	<select id="selectNextRoomNo" resultType="int">
	select room_seq.nextval from dual
	</select>

	<insert id="insertRoom" parameterType="Room">
	insert into room(no, master_id, title
	<if test="room_pw != null">
	, room_pw
	</if>
	)
	values(#{no}, #{master_id}, #{title}
	<if test="room_pw != null">
	, #{room_pw}
	</if>
	)
	</insert>
	
	<delete id="deleteRoom" parameterType="Room">
	delete from room
	where no = #{no}
	</delete>
	
	<insert id="insertWaitingUser" parameterType="WaitingUser">
	insert into waiting_users
	values(waiting_users_seq.nextval, #{room_no}, #{user_id}, #{session_id})
	</insert>
	
	<select id="selectWaitingUser" resultType="WaitingUser" parameterType="Room">
	select * from waiting_users
	where room_no = ${room_no}
	</select>
	
	<delete id="deleteWaitingUser" parameterType="WaitingUser">
	delete from waiting_users
	where no = #{no}
	</delete>
	
	<select id="selectAllRoom" resultType="Room">
		select * from room
	</select>
	
	<select id="selectBySessionId" parameterType="WaitingUser" resultType="WaitingUser">
		select * from waiting_users where session_id = #{session_id}
	</select>
</mapper>
